.event {
  padding: 20px 0;
  border-bottom: solid 1px #EAEAEA;
}

h2.event-title {
  font-weight: 300;
}

.event-location {
  color: #999999;
  margin: 5px 0;
}

.event-datetime {
  color: #FD7E14;
  margin: 5px 0;
}
